<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WAR.ConnectionString" value="Server=127.0.0.1;Database=war_characters;Uid=root;Pwd=thetrooper;" />
    <add key="DefaultOutputFile" value="g:\\temp\\output.txt"/>
    <add key="AccountUserCode" value="az"/>
    <add key="ItemsetDirectory" value="itemset"/>
    <add key="TemplateDirectory" value="template"/>
    
  </appSettings>
</configuration>