<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

  <!--<target xsi:type="File" name="warconsole" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} :: ${message}" />-->
  <!--<target name="file" type="File" fileName="${basedir}/log.txt" />-->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="rewardLogToFile" xsi:type="File" fileName="${basedir}/logs/REWARD_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="deathLogToFile" xsi:type="File" fileName="${basedir}/logs/DEATH_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="rvrLogToFile" xsi:type="File" fileName="${basedir}/logs/RVR_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="battlefrontLogToFile" xsi:type="File" fileName="${basedir}/logs/Campaign_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="guildLogToFile" xsi:type="File" fileName="${basedir}/logs/Guild_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="bountyLogToFile" xsi:type="File" fileName="${basedir}/logs/BOUNTY_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />
    <target name="mailLogToFile" xsi:type="File" fileName="${basedir}/logs/MAIL_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite:includeNamespace=false} :: ${message}" />

    <target name="logconsole" xsi:type="ColoredConsole" layout="${shortdate} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <logger name="MailLogger" minlevel="Trace" writeTo="mailLogToFile" />
    <logger name="DeathLogger" minlevel="Trace" writeTo="deathLogToFile" />
    <logger name="RewardLogger" minlevel="Trace" writeTo="rewardLogToFile" />
    <logger name="BountyLogger" minlevel="Trace" writeTo="bountyLogToFile" />
    <logger name="RVRProgressionLogger" minlevel="Trace" writeTo="battlefrontLogToFile" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>