<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ServerTestIPAddress" value="72.218.160.249" />
    <add key="ServerLocalIPAddress" value="127.0.0.1" />
    <add key="ServerTestPort" value="8000" />
    <add key="ServerLocalPort" value="8000" />
  </appSettings>

  <userSettings>
    <Launcher.Properties.Settings>
      <setting name="LastRealm" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastLogin" serializeAs="String">
        <value/>
      </setting>
    </Launcher.Properties.Settings>
  </userSettings>
</configuration>
