<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
      <add key="Evolve.ConnectionString" value="Server=127.0.0.1;Database=war_accounts;Uid=root;Pwd=thetrooper;" />
      <add key="Evolve.Driver" value="mysql" />
      <!-- or sqlserver or microsoftdatasqlite or sqlite or mysql or mariadb -->
      <add key="Evolve.Locations" value="db-scripts" />
      <!--<add key="Evolve.Command" value="migrate" />-->
    <!--//Evolve.Schemas-->
    <!--<add key="war_accounts" value="Server=127.0.0.1;Database=war_accounts;Uid=root;Pwd=thetrooper;"/>
    <add key="war_characters" value="Server=127.0.0.1;Database=war_characters;Uid=root;Pwd=thetrooper;"/>
    <add key="war_tools" value="Server=127.0.0.1;Database=war_tools;Uid=root;Pwd=thetrooper;"/>
    <add key="war_world" value="Server=127.0.0.1;Database=war_world;Uid=root;Pwd=thetrooper;"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>